name: publish reform on npm

on:
  release:
    types: [created]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  reform-publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
      - run: cp README.md packages/reform/
      - run: cd packages/reform && yarn install && yarn res:build && npm publish --access=public
