name: Create reschema version

on:
  workflow_dispatch:
    inputs:
        versionType:
          description: Version type
          required: true
          default: 'patch'
          type: choice
          options:
            - patch
            - minor
            - major
            - premajor
            - preminor
            - prepatch
            - prerelease


jobs:
  reschema-create-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ssh-key: ${{ secrets.ADMIN_SSH_KEY }}
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: |
          git config user.name rickerbh
          git config user.email hamish@happtic.com

      - name: Generate new version ${{ github.event.inputs.versionType }}
        run: |
          cd packages/reschema
          yarn version --${{ github.event.inputs.versionType }}

      - name: Push the tags
        run: git push origin master --tags
